body {
  background: #96f0a5;
}
#title{
  margin: 1rem auto;
  text-align: center;
}
#submitBtn {
  border: 1px solid transparent;
  border-radius: 2rem;
  width: 5rem;
  height: 1.5rem;
}
#backBtn {
  border: 1px solid transparent;
  border-radius: 2rem;
  width: 5rem;
  height: 1.5rem;
  display:none;
}
#allLevelsDiv{
  display: flex;
  flex-direction: column-reverse;
  width: 80%;
  margin: 1rem auto;
}
#levelDivMain{
  border-bottom: 1px solid black;
  width: 90%;
  height: 7rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
  position: relative;
}
#levelTitle{
  width: 3rem;
  height: fit-content;
  bottom: -0.5rem;
  right: -3.5rem;
  position: absolute;
}
#buttonBoard{
  height: inherit;
}
#liftBox{
  height: 6.5rem;
  width: 3rem;
  border: 2px solid black;
  margin: auto;
}