body {
  background: #96f0a5;
}
#App{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#title{
  margin: 1rem auto;
  text-align: center;
}
#mainDiv{
  margin: auto;
  width: 100%;
}
#form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  margin: auto;
}
#submitBtn {
  border: 1px solid transparent;
  border-radius: 2rem;
  width: 5rem;
  height: 1.5rem;
}
#backBtn {
  border: 1px solid transparent;
  border-radius: 2rem;
  width: 5rem;
  height: 1.5rem;
  display:none;
}
#display{
  display: block;
  width: 90%;
  margin: 2rem;
  position: relative;
}
#allLevelsDiv{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin: auto;
  position: relative;
}
#levelDivMain{
  width: 100%;
  height: 5rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
  position: relative;
  background-image: linear-gradient(
    180deg,
    hsl(131deg 75% 76%) 0%,
    hsl(130deg 71% 80%) 50%,
    hsl(130deg 65% 84%) 100%
  );
}
#levelTitle{
  width: 3rem;
  height: fit-content;
  bottom: 0rem;
  right: 0rem;
  position: absolute;
}
#buttonBoard{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#buttonUp{
  height: 1.5rem;
  width: 3rem;
  margin: 0.5rem;
  background:transparent;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px black;
}
#buttonDown{
  height: 1.5rem;
  width: 3rem;
  margin: 0.5rem;
  background:transparent;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px black;
}
#allLiftsDiv{
  display: flex;
  position: absolute;
  bottom: 0rem;
  margin: 0rem 5rem;
  align-items: end;
}
.liftBox{
  height: 5rem;
  position: relative;
  width: 4rem;
  bottom: 0rem;
  display: flex;
  margin: 0rem 0.5rem;
}
.lift{
  height: 4rem;
  width: 2.5rem;
  margin: 1rem 0.5rem 0rem;
  border: 0.5px solid black;
  border-radius: 0.5rem;
}
.liftDoor {
  height: 4rem;
  width: 2.5rem;
  min-width: 0.5rem;
  background: #bac;
  border-radius: 0.5rem;
  color: white;
  position: relative;
}
